{% extends "site_base.html" %}                                                                                                                                             

{% load i18n %}

{% block head_title %}{% trans "Create Work Log Event" %}{% endblock %}

{% block body %}

<h1>{% trans "Create Work Log Event" %}</h1>
<form  action="" method="POST" name="WorkLogForm" id="WorkLogForm">
<table>
  {{ form }}
   <tr><th colspan='2'>{% trans "Associated Tasks" %}</th></tr>                                                                    
   <tr><td colspan="2" style='border: none;'>
   {% for formset in depends_form %}
   <tr><td class='' >
     {% for f in formset.visible_fields %}
     {% if not f.hidden %}
     <span class='formset_inputs'>{{ f.label_tag }}</span><span class="formset_inputs"> {{ f }}</span>
         {% if forloop.counter0|divisibleby:6 %}
             </td><td>
         {% endif %}
     {% endif %}
     {% endfor %}
     {% for hidden in formset.hidden_fields %}
         {{ hidden }}
     {% endfor %}
  </td></tr>
   {% endfor %}
 {{ depends_form.management_form }}

  {% csrf_token %}
  </td></tr>
  <tr>
      <td>
          <input type='button' onclick="history.back();" value="Cancel">&nbsp;
      <input type="submit" value="{% trans "Create" %}"/>
      </td>
      <td>&nbsp;</td>
  </tr>
</table>
</form>
    <p>{% endblock %}
       {% block extra_body %}
 <style type="text/css" media="all">@import "{{ STATIC_URL }}/css/smoothness/jquery-ui-1.8.18.custom.css";</style>
 <script type="text/javascript" src ="{{ STATIC_URL }}/js/jquery-ui-1.8.18.custom.min.js"></script>
 <script type="text/javascript">
 jQuery(document).ready(function ($) {
    $( "#id_ship_date" ).datepicker({
        altFormat: 'yy-mm-dd'
    });
    $( "#id_arrival_date" ).datepicker({
        altFormat: 'yy-mm-dd'
    });
    $( "#id_expected_arrival_date" ).datepicker({
        altFormat: 'yy-mm-dd'
    });
             
 } );
 </script>
 {% endblock %}

